body{
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    background-size: 2000px;

    font-family: 'Fira Sans', sans-serif;
}
    
    

/* Home Page */

.home-pic{

    position: absolute;
    top:200px;
    left:620px;
}

.add-btn{
    position: absolute;
    top:500px;
    left:620px;
    font-size: 27px;
}

.navbar-item-list{
    
    margin-left: 800px;
}

.navbar-item-list li{
    padding-right: 70px;
    font-size: 1.2rem;
}

.project-navbar-tittle{
    position: absolute;
    padding-left: 100px;
    font-size: 1.8rem;
}

.bg-image{
    background-size: 100px;
}

.navbar-bg{
    background-image: url(https://plchldr.co/i/336x280?&bg=f3c623&text=);
}

/* Home Page */


/* --------------------------------------------------------- */


/* Add page */  

.add-page-containt{
    width: 1000px;
    padding : 70px 0 0 100px;
    font-family: 'Roboto Slab', serif;
}

.project-about{
    padding-top: 100px;
}

.add-addPage{
    margin-top: 50px;
    font-size: 1.5rem;
    padding: 10px 30px 10px 30px;
    position: relative;
    left: 400px;
}

.project-name-label{
    color: #f3c623;
    font-family: 'MuseoModerno', cursive;
    font-size: 1.4rem;
}
.project-about-label{
     color: #f3c623;
     font-family: 'MuseoModerno', cursive;
     font-size: 1.4rem;
    }
.add-page-containt textarea{
    background-image: url(https://www.htmlcsscolor.com/preview/gallery/EEEEEE.png);

}

.project-name-containt{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.project-about-containt{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}
/* Add page */ 
/* - */
